
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<div class="back-trending-stories">
        <div class="container">
          <div class="back-title">
            <h2>Trend Olan Hikayeler</h2>
          </div>
          <ul class="back-trending-slider owl-carousel">
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/template/assets/images/trending/1.jpg" alt="image"
                /></a>
                <a href="#" class="back-cate back-beauty">Güzellik</a>
              </div>
              <div class="back-btm-content">
                <h3>
                  <a href="#">Güzellik kraliçelerinin güzellik malzemelerine ve ürünlerine ihtiyacı var.</a>
                </h3>
                <ul>
                  <li class="back-author">by <a href="#">Yazarı</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >May 24, 2026
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/template/assets/images/trending/2.jpg" alt="image"
                /></a>
                <a href="#" class="back-cate back-tra">Seyahat</a>
              </div>
              <div class="back-btm-content">
                <h3>
                  <a href="#">Kültürler keşfederek dünyayı deneyimleme tutkusu.</a>
                </h3>
                <ul>
                  <li class="back-author">by <a href="#">Yazar2</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >March 25, 2022
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/template/assets/images/trending/3.jpg" alt="image"
                /></a>
                <a href="#" class="back-cate back-design">Tasarım</a>
              </div>
              <div class="back-btm-content">
                <h3>
                  <a href="#">Gençlik viral hastalıkları 2022 yılını nasıl etkileyebilir?</a>
                </h3>
                <ul>
                  <li class="back-author">by <a href="#">Yazar3</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >Mayıs 24, 2026
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/template/assets/images/trending/4.jpg" alt="image"
                /></a>
                <a href="#" class="back-cate back-poli">Politika</a>
              </div>
              <div class="back-btm-content">
                <h3>
                  <a href="#">Kadın, pembe dumanla mavi deri giyiyor</a>
                </h3>
                <ul>
                  <li class="back-author">by <a href="#"> Yazar2</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >Mayıs 24, 2026
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/template/assets/images/trending/5.jpg" alt="image"
                /></a>
                <a href="#" class="back-cate back-tech">Teknoloji</a>
              </div>
              <div class="back-btm-content">
                <h3>
                  <a href="#"
                    >Sanal gerçeklik, pembe dumanla deride burada</a
                  >
                </h3>
                <ul>
                  <li class="back-author">by <a href="#"> Yazar3</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                  >
                </h3>
                <ul>
                  <li class="back-author">by <a href="#"> Yazar3</a></li>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >June 20, 2022
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>