<a href="#" class="post-author">
  <div class="avatar">
      <img src="/images/profile 1.jpg" alt="">
  </div>
  <div class="info">
      <h4 class="name">Muhammet Imami</h4>
      <p> Muhammet Imami Cok iyi bir yazardır. ve birçok konuda yazılar yazmaktadır. dogru bilgilere ulaşmak için onu takip edebilirsiniz. bizi takip etmeyi unutmayın.</p>
      <span class="designation">Butun Makaleler : Muhammet Imami</span>
  </div>
</a>