
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-6 back-hero-right">
              <div class="row back-pl-6">
                <div class="col-lg-12">
                  <ul>
                    <li>
                      <div class="image-area">
                        <a href="#"
                          ><img src="/images/LLM1.jpg" alt="image"
                        /></a>
                        <div class="back-btm-content">
                          <a href="#" class="back-cate back-poli">Teknoloji</a>
                          <h3>
                            <a href="#"
                              >Yapay Zeka Dünyasının Yeni Dil Modelleri</a
                            >
                          </h3>
                          <ul>
                            <li class="back-author">
                              <span
                                ><img
                                  src="/images/festival1.jpg"
                                  alt="image" /></span
                              ><a href="#">Yazar 1</a>
                            </li>
                            <li class="back-date">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="feather feather-clock"
                                >
                                  <circle cx="12" cy="12" r="10"></circle>
                                  <polyline
                                    points="12 6 12 12 16 14"
                                  ></polyline></svg></span
                              >Mayıs 24, 2026
                            </li>
                            <li class="back-comments">
                              <span
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="feather feather-message-square"
                                >
                                  <path
                                    d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                                  ></path></svg></span
                              >0 yorum
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="back-pr-3">
                    <li>
                      <div class="image-area">
                        <a href="#"
                          ><img src="/images/festival1.jpg" alt="image"
                        /></a>
                        <div class="back-btm-content">
                          <a href="#" class="back-cate back-tech">Sanat</a>
                          <h3><a href="#">Kültür Sanat Festivali başladı!</a></h3>
                          <ul>
                            <li class="back-author">
                              <span
                                ><img
                                  src="/images/castle1.jpg"
                                  alt="image" /></span
                              ><a href="#">Yazar 2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="back-pl-3">
                    <li>
                      <div class="image-area">
                        <a href="#"
                          ><img src="/images/castle1.jpg" alt="image"
                        /></a>
                        <div class="back-btm-content">
                          <a href="#" class="back-cate back-tra">Seyahat</a>
                          <h3><a href="#">Almanya kalelerinin büyüleyici Yolculuk</a></h3>
                          <ul>
                            <li class="back-author">
                              <span
                                ><img
                                  src="/template/assets/images/author/2.jpg"
                                  alt="image" /></span
                              ><a href="#">Yazar 3</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>