  <div class="single-nav">
  <div class="back-prev"> <a href="#"><i class="fa-solid fa-arrow-right"></i> onceki Yazi <em>
 Mikroservis Mimarisi</em></a> </div>

  <div class="back-next"><a href="#">Sonraki Yazi <i class="fa-solid fa-arrow-right"></i> <em> MongoDb'de performance</em></a></div>
</div>