
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
    <ul class="back-hero-bottom back-hero-slider2 owl-carousel">
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/images/4.webp" alt="image"
                /></a>
              </div>
              <div class="back-btm-content">
                <a href="#" class="back-cates">Moda & Tasarım</a>
                <h3><a href="#">Sonbahar Kış Kıyafetleri</a></h3>
                <ul>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >March 22, 2022
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/images/health.jpg" alt="image"
                /></a>
              </div>
              <div class="back-btm-content">
                <a href="#" class="back-cates">Sağlık</a>
                <h3><a href="#">Sağlıklı içecek önerileri</a></h3>
                <ul>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >April 20, 2022
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/images/lifestyle.jpg" alt="image"
                /></a>
              </div>
              <div class="back-btm-content">
                <a href="#" class="back-cates">Günlük Yaşam</a>
                <h3><a href="#">3 Adımda Detox Suyu </a></h3>
                <ul>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >May 20, 2022
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="image-areas">
                <a href="#"
                  ><img src="/images/Travel1.jpeg" alt="image"
                /></a>
              </div>
              <div class="back-btm-content">
                <a href="#" class="back-cates">Seyahat</a>
                <h3><a href="#">Yürtdışı Gezi Seyahat Rehberi</a></h3>
                <ul>
                  <li class="back-date">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-clock"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline
                          points="12 6 12 12 16 14"
                        ></polyline></svg></span
                    >March 22, 2022
                  </li>
                </ul>
              </div>
            </li>
          </ul>