@{
  ViewData["Title"] = "Article List by Category";
  Layout = "~/Views/Layout/index.cshtml";
}
    <div class="back-wrapper">

            @await Component.InvokeAsync("BlogDetailBreadCrumbComponentPartial")


            <div class="back__blog__area back-blog-page back-blog-page-single pt-70 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-single-inner">
                                <div class="blog-content">
                                 @await Component.InvokeAsync("BlogDetailComponentPartial")

                                        <ul>
                                            <li><i class="fa-solid fa-check"></i> Your child’s interests, likes, dislikes</li>
                                            <li><i class="fa-solid fa-check"></i> Their routines- patterns of eating, sleeping, toileting</li>
                                            <li><i class="fa-solid fa-check"></i> Your child’s current wellbeing</li>
                                            <li><i class="fa-solid fa-check"></i> Any major events taking place at home.</li>
                                        </ul>
                                    </div>

                                    <blockquote>Before Natalia’s village had a clean water tap, she often did have time for school. Now, she goes to school every day she presient of her local Water Committee. <em>Max Conversion</em></blockquote>

                                    <p>Sometimes, even a good email get’s trapped, which requires actual human intervention. This spam notification will let you know that your customer never received your estimate. Ensure to reach out to your customer and ask them to add happening.</p>
                                    @await Component.InvokeAsync("BlogDetailTagComponentPartial")
                                    @await Component.InvokeAsync("BlogDetailAuthorComponentPartial")
                                    @await Component.InvokeAsync("BlogDetailPreviousPostComponentPartial")
                                    @await Component.InvokeAsync("BlogDetailRelatedPostComponentPartial")
                                    @await Component.InvokeAsync("BlogDetailCommentComponentPartial")
                                    @await Component.InvokeAsync("BlogDetailAddCommentComponentPartial")

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="back-sidebar pl-30 md-pl-0 back-hero-area back-latest-posts back-whats-posts">

                            @await Component.InvokeAsync("BlogDetailSearchAreaComponentPartial")

                                @await Component.InvokeAsync("BlogDetailSocialMediaComponentPartial")

                                @await Component.InvokeAsync("BlogDetailLatestPostComponentPartial")

                                @await Component.InvokeAsync("BlogDetailInstagramComponentPartial")

                               @await Component.InvokeAsync("BlogDetailLastCommentComponentPartial")

                               @await Component.InvokeAsync("BlogDetailAllTagsComponentPartial")


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>