@{
  ViewData["Title"] = "Article List";
  Layout = "~/Views/Layout/index.cshtml";
}

 <div class="back-wrapper">
            <!--================= Back Breadcrumbs Section Start Here =================-->
            <div class="back-breadcrumbs">
                <div class="breadcrumbs-wrap">
                    <div class="breadcrumbs-inner">
                        <div class="container">
                            <div class="breadcrumbs-text">
                                <h1 class="breadcrumbs-title">Makale Listesi</h1>
                                <div class="back-nav">
                                    <ul>
                                        <li><a href="/Default/Index/">Ana sayfa</a></li>
                                        <li>Tum Makaleler</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================= Back Breadcrumbs Section End Here =================-->

            <!--================= Back Trending Stories Start Here =================-->
            <div class="back-category-style-grid pt-70 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/1.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">COVID patient successfully given vaccine as fully treatment</a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#">Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>April 29, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/2.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">Selective focus photography of orange fox life insurence officia opara </a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#"> Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 25, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/3.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">TUNAI Android trending sneaker models give world cup sibe</a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#"> Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>May 29, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/4.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">Treat your planet like you want to treat to our fimail workers.</a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#"> Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>June 20, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/5.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">Virtual reality is here on leather by pink working world mentor</a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#"> Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>June 20, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/technology/6.jpg" alt="image"></a>
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">Selective focus is here on leather by pink working world promasud</a></h3>
                                <ul>
                                    <li class="back-author">by <a href="#"> Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>June 20, 2022</li>
                                </ul>
                                <p>Consequat dui odio aspernatur officia opara magnam lectus lets...</p>
                            </div>
                        </div>
                    </div>
                    <!--================= Back Pagination Start Here =================-->
                    <ul class="back-pagination mt-30">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="back-next"><a href="#">Next<i class="arrow_carrot-right"></i></a></li>
                    </ul>
                    <!--================= Back Pagination End Here =================-->
                </div>
            </div>
            <!--================= Back Trending Stories End Here =================-->
        </div>