@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}




<!doctype html>
<html lang="zxx">
@await Component.InvokeAsync("LayoutHeadComponentPartial")
  <body>

  @await Component.InvokeAsync("LayoutRightSideBarComponentPartial")


   <header id="back-header" class="back-header">

    @await Component.InvokeAsync("LayoutHeaderComponentPartial")


  @await Component.InvokeAsync("LayoutNavbarComponentPartial")



  </header>
  @RenderBody()


    <!--================= Footer Section Start Here =================-->
         @await Component.InvokeAsync("LayoutFooterComponentPartial")

    <!--================= Scroll to Top End =================-->
    @await Component.InvokeAsync("LayoutScriptsComponentPartial")

  </body>
</html>
