
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-6">
              <ul class="back-hero-slider owl-carousel">
                <li>
                  <div class="image-area">
                    <a href="#"
                      ><img src="/template/assets/images/hero-blog/1.jpg" alt="image"
                    /></a>
                    <div class="back-btm-content">
                      <a href="#" class="back-cate back-life">Lifestyle</a>
                      <h3>
                        <a href="#"
                          >Bosmogenic an designed for narita iourism in moon</a
                        >
                      </h3>
                      <ul>
                        <li class="back-author">
                          <span
                            ><img
                              src="/template/assets/images/author/1.jpg"
                              alt="image" /></span
                          ><a href="#">by Jon Deo</a>
                        </li>
                        <li class="back-date">
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-clock"
                            >
                              <circle cx="12" cy="12" r="10"></circle>
                              <polyline
                                points="12 6 12 12 16 14"
                              ></polyline></svg></span
                          >March 29, 2022
                        </li>
                        <li class="back-comments">
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-message-square"
                            >
                              <path
                                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                              ></path></svg></span
                          >99 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="image-area">
                    <a href="#"
                      ><img src="/template/assets/images/hero-blog/11.jpg" alt="image"
                    /></a>
                    <div class="back-btm-content">
                      <a href="#" class="back-cate back-life">Beauty</a>
                      <h3>
                        <a href="#"
                          >Beauty an designed narita iourism in moon others</a
                        >
                      </h3>
                      <ul>
                        <li class="back-author">
                          <span
                            ><img
                              src="/template/assets/images/author/2.jpg"
                              alt="image" /></span
                          ><a href="#">by Jon Deo</a>
                        </li>
                        <li class="back-date">
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-clock"
                            >
                              <circle cx="12" cy="12" r="10"></circle>
                              <polyline
                                points="12 6 12 12 16 14"
                              ></polyline></svg></span
                          >March 29, 2022
                        </li>
                        <li class="back-comments">
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-message-square"
                            >
                              <path
                                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                              ></path></svg></span
                          >99 Comments
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>