<div class="author-comment">
  <div class="back-title back-small-title">
      <h2>3 Yorum</h2>
  </div>
  <ul>
      <li>
          <div class="row">
              <div class="col-lg-1">
                  <div class="image-comments"><img src="/template/assets/images/user/user2.jpg" alt=""> </div>
              </div>
              <div class="col-lg-11">
                  <div class="dsc-comments">
                      <h6>Salih Develi</h6>
                      <span class="reply"> <span class="date">July 21, 2026 at 8:24 pm</span></span>
                      <p>Geeza show off show off pick your nose and blow off the BBC lavatory a blinding shot cack spend a penny bugger all mate brolly.</p>
                      <a href="#">Reply</a>
                  </div>
              </div>
          </div>
      </li>

  </ul>

   <ul>
      <li>
          <div class="row">
              <div class="col-lg-1">
                  <div class="image-comments"><img src="/template/assets/images/user/user2.jpg" alt=""> </div>
              </div>
              <div class="col-lg-11">
                  <div class="dsc-comments">
                      <h6>Salih Develi</h6>
                      <span class="reply"> <span class="date">July 21, 2026 at 8:24 pm</span></span>
                      <p>Geeza show off show off pick your nose and blow off the BBC lavatory a blinding shot cack spend a penny bugger all mate brolly.</p>
                      <a href="#">Reply</a>
                  </div>
              </div>
          </div>
      </li>

  </ul>
</div>