<div class="back-title back-small-title pt-30">
      <h2>Guncel Haberler</h2>
  </div>
  <ul class="back-hero-bottom">
      <li>
          <div class="image-areas">
              <a href="#"><img src="/images/LatestPost01.jpg" alt="image"></a>
          </div>
          <div class="back-btm-content">
              <a href="#" class="back-cates">Teknoloji</a>
              <h3><a href="#">Yapay Zeka da Yeni Gelişmeler</a></h3>
              <ul>
                  <li class="back-date">by <a href="#">Atakan</a></li>
              </ul>
          </div>
      </li>
      <li>
          <div class="image-areas">
              <a href="#"><img src="/images/LatestPost02.jpg" alt="image"></a>
          </div>
          <div class="back-btm-content">
              <a href="#" class="back-cates">Müzik</a>
              <h3><a href="#">Herkes müzik dinlemeyi sever</a></h3>
              <ul>
                  <li class="back-date">by <a href="#">Atakan</a></li>
              </ul>
          </div>
      </li>
      <li>
          <div class="image-areas">
              <a href="#"><img src="/images/LatestPost03.jpg" alt="image"></a>
          </div>
          <div class="back-btm-content">
              <a href="#" class="back-cates">Yaşam Tarzı</a>
              <h3><a href="#">10 kolay alışkanlıkla hayatınızı değiştirin</a></h3>
              <ul>
                  <li class="back-date">by <a href="#">Atakan</a></li>
              </ul>
          </div>
      </li>
      <li>
          <div class="image-areas">
              <a href="#"><img src="/images/LatestPost04.jpg" alt="image"></a>
          </div>
          <div class="back-btm-content">
              <a href="#" class="back-cates">Seyahat</a>
              <h3><a href="#">Dünyanın en iyi 10 web sitesi</a></h3>
              <ul>
                  <li class="back-date">by <a href="#">Atakan</a></li>
              </ul>
          </div>
      </li>
  </ul>
  <div class="back-add pt-15"> <img src="/template/assets/images/whats/add.jpg" alt="add-image"> </div>